/* Start Global Rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #240165, #05001c);
    font-family: sans-serif;
}

/* Container */
.container {
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

/* Start Head */
.head {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 30%;
    color: white;
    position: relative;
    text-align: right; /* Ensure right alignment */
}

.head::after {
    content: "";
    position: absolute;
    background-color: blueviolet;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
}

.head h1 {
    font-size: 100px;
}

@media (max-width: 630px) {
    .head h1 {
        font-size: 50px;
    }
}

@media (max-width: 450px) {
    .head h1 {
        font-size: 35px;
    }
}

/* End Head */

/* Start Cards */
.cards {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center; 
    padding: 20px;
    gap: 10px;
}

.cards .card {
    width: 120px;
    text-align: center;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, 
                rgba(240, 46, 170, 0.3) -10px 10px, 
                rgba(240, 46, 170, 0.2) -15px 15px, 
                rgba(240, 46, 170, 0.1) -20px 20px, 
                rgba(240, 46, 170, 0.05) -25px 25px;
    border-radius: 10px;
}

.cards .card p {
    color: white;
    padding: 5px;
    background: linear-gradient(45deg, #5709ee, #7a37bf);
    border-radius: 5px 5px 0 0;
    font-size: 14px;
}

.cards .card div {
    background-color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
}

/* Responsive Grid for Cards */
@media (max-width: 630px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
        gap: 10px;
    }

    .cards .card {
        width: 90px; 
    }

    .cards .card div {
        height: 100px;  
        font-size: 14px; 
    }

    .cards .card p {
        font-size: 12px;  
    }
}

@media (max-width: 450px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    }

    .cards .card {
        width: 70px;  
    }

    .cards .card div {
        height: 80px; 
        font-size: 12px;
    }

    .cards .card p {
        font-size: 10px;
    }
}

/* End Cards */

/* Start Select */
select {
    width: 200px;
    height: 35px;
    margin: 50px auto;  
    font-size: 20px;
    font-family: sans-serif;
    background: none;
    color: white;
    border-radius: 15px;
    border: 1px solid white;
    text-align: center;
    display: block; 
    cursor: pointer;
}

select option {
    color: black;
    background-color: white;
}

/* End Select */
