
/*start Global rules */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 1000px;
}
body{
     background: linear-gradient(45deg, #240165,#05001c);
}
.container{
    margin: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;

}


/*end Global rules */




/* start head */
.head{
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    height: 30%;
    color: white;
    position: relative;
     

}
.head::after{
    content: "";
    position: absolute;
    background-color: blueviolet;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
}
.head h1{
font-size:100px;
}

/* end head */

/* start cards */
.cards{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
    
}
.cards .card{
    width: 100px;
    text-align: center;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
     

}
.cards .card p{
color: white;
padding: 5px;
background: linear-gradient(45deg, #5709ee,#7a37bf);
}

.cards .card div{
    background-color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;

}

/* end cards */




/* start select  */
select{
    width: 200px;
    height: 35px;
    margin-top: 50px;
    align-self: center;
    font-size: 25px;
    font-family: sans-serif;
    background: none;
    color:white ;
    border-radius: 15px;
}
select option{
    color: black;
}
/* end select  */

/* start button */
/* button{
    color: white;
    width: 8rem;
    align-self: center;
    margin: 50px;
    display: flex;
    justify-content: space-between;
    padding: 3px;
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer;
} */
/* end button */